ˆ’^.*~$
^.*[.]orig$
^.ropeproject
.*\.log$
.*\.pyc$
.*\.pyo$
venv.*
.*\.core$
.coverage
dist
build
virtualenv
venv-.*
.un~$
.swp$
^config.*.ini$
.pytest_cache/*
venv
__pycache__/
__init__.pyc
.idea
log/
*log
